html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

.converse-parent
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.converse-search {
	background: white;
	padding: 10px;
}

.converse-body
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-top: 1px solid rgb(229, 229, 229);
}

.converse-conversations {
	border-right: 1px solid rgb(229, 229, 229);
	overflow-y: scroll;
}

.converse-conversations .conversation {
	height: 90px;
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid rgb(229, 229, 229);
}

.converse-conversations .conversation-new {
	padding: 10px;
	border-bottom: 1px solid rgb(229, 229, 229);
}

.converse-conversations .conversation h3 {
	margin: 10px 0px;
}

.converse-conversation {
}

.converse-conversation .conversation-placeholder {
	font-size: 40px;
	text-align: center;
}

.converse-conversation .conversation-new-enter {
	display: none;
}
.converse-conversation .conversation-new-enter textarea{
	width: 100%;
	min-height: 250px;
}

.flexbox-item-grow
{
    flex: 1; /* same as flex: 1 1 auto; */
}

#registration-form {
	display: none;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}